/* =============Thuộc tính chung ================ */
* {
  box-sizing: border-box;
}
html {
  /* thay đổi kích thước font chữ của trang */
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 186px;
  height: 68px;
  border-radius: 14px;
  background: #1ebfc1;
  box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.05);
}
.feedback-cta .cta-btn-group:hover,
.btn:hover {
  background: #eee;
  box-shadow: 0px 0px 0px 0px rgba(196, 26, 134, 0.5);
  color: #fff;
  transition: 0.5s;
  cursor: pointer;
}

/* =============Toàn bộ trang ================ */
a {
  text-decoration: none;
}
.main-content {
  width: 1440px;
  /* đặt kích thước khi thu nhỏ trình duyệt sẽ k bị ẩn */
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}
.heading-lv2 {
  color: #0d1111;
  font-size: 4.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/* =============HEADER================ */
.header {
  background: #ffffff;
}
.header.fixed {
  /* NEO cố định headder */
  z-index: 1;
  position: sticky;
  top: -30px;
}

.header .body {
  /* trên -trái phải - dưới */
  padding: 57px 0px 8px;
  display: flex;
  align-items: center;
}
.nav {
  margin-left: auto;
}

.nav ul {
  display: flex;
  gap: 40px;
}
.nav a {
  color: #2f3a3b;
  font-size: 1.6rem;
  padding: 8px 19.5px;
}
.action .action-link:hover,
.nav a:hover {
  color: #2f3a3b;
  font-size: 1.6rem;

  /* tạo hiệu ứng bóng đổ, khôngg gây giật giật */
  text-shadow: 1px 0 0 currentColor;
}
.header .action-link {
  margin-left: 157px;
  margin-right: 24px;
  color: #494949;
  text-align: center;
}
.header .action-btn {
  margin-left: 24px;
  padding: 0 16px;
  min-width: 108px;
  line-height: 46px;
  color: #1ebfc1;
  text-align: center;
  font-weight: 600;
  border-radius: 6px;
  border: 1px solid #1ebfc1;
  display: inline-block;
}

.action .action-btn:hover {
  /* đổi màu khi trỏ chuột vào nút đăng kí */
  background: #1ebfc1;
  color: white;
  transition: 0s;
}
/* =============HERO=============== */
.hero .body {
  display: flex;
  margin-top: 62px;
}
.hero .content-block {
  margin-top: 150px;
  width: 50%;
  margin-right: 136px;
}

.hero .top-title {
  color: #767e7e;
  font-size: 1.4rem;
}
.hero .title {
  color: #0d1111;
  font-size: 6.2rem;
  font-weight: 700;
  line-height: 117%;
  margin-top: 20px;
}
.hero .desc {
  color: #9da6a5;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 178%;
  margin-top: 46px;
}
.hero .cta-group {
  display: flex;
  margin-top: 52px;
}
.hero .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 186px;
  height: 68px;
  border-radius: 14px;
  background: #1ebfc1;
  box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.05);
}
.hero .play-video {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 62px;
  height: 62px;
  border-radius: 50%;
  margin-left: 50px;
  box-shadow: 0px 22px 50px 0px rgba(0, 0, 0, 0.05);
  cursor: pointer;
}
.hero .content-block .play-video:hover {
  background: #eee;
  box-shadow: 0px 0px 0px 0px rgba(196, 26, 134, 0.5);
  color: #fff;
  transition: 0.5s;
  cursor: pointer;
}
.hero .content-block .btn:hover {
  background: #eee;
  box-shadow: 0px 0px 0px 0px rgba(196, 26, 134, 0.5);
  color: #fff;
  transition: 0.5s;
  cursor: pointer;
}

/* ------hero phải------ */
.hero .media-block {
  width: 50%;

  position: relative;
}
.hero .media-block .media {
  width: 576px;
  height: 631px;
  object-fit: cover;
  background: #e0f7f6;
}
.hero .media-courses {
  display: flex;
  position: relative;
  justify-self: center;
  align-items: center;
  gap: 16px;
  position: absolute;
  top: 149px;
  left: -40px;
  width: 157px;
  height: 75px;
  border-radius: 18px;
  background: #fefefd;
  box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
}
.hero .media-courses::after {
  /* TẠO ĐƯỜNG KẺ BOOK */
  position: absolute;
  top: 45px;
  left: 29px;
  content: "";
  display: inline-block;
  width: 28px;
  height: 4px;
  background: #fff;
  border-radius: 999px;
}
.hero .media-courses .icon-courses {
  margin-left: 25px;
  width: 36px;
  height: 40px;
}
.hero .media-courses .detail {
  color: #0d1111;
  font-size: 1rem;
  font-weight: 500;
  width: 55px;
}
/* <!-- Schedules --> */
.hero .media-Schedules {
  position: relative;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 453px;
  left: -65px;
  width: 124px;
  height: 132px;
  border-radius: 24px;
  background: #fff;
  box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
}
.hero .media-Schedules span {
  display: inline-block;
  margin: 16px 35px 0;
  color: #0d1111;
  font-size: 1rem;
  font-weight: 500;
  margin-top: 16px;
}
.hero .media-block .icon-Schedules {
  width: 74px;
  height: 6px;
  margin: 6px 25px;
}
/*  Our Active Students */
.hero .media-Our {
  position: absolute;
  /* margin-top: 10px; */
  top: 500px;
  left: 324px;
  width: 207px;
  height: 90px;
  border-radius: 24px;
  background: #fefefd;
  box-shadow: 0px 12px 80px 0px rgba(0, 0, 0, 0.05);
}
.hero .media-Our .avt-list {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero .media-Our .avt-list .img-our {
  margin-top: 8px;
  margin-left: -7px;
  width: 33px;
  height: 33px;
  border-radius: 50%;
}
.hero .media-Our .detail {
  margin-left: 36px;
  margin-top: 20px;
  color: #0d1111;
  font-family: Poppins;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.hero .media-Our .img-our {
  width: 33px;
  height: 33px;
  border-radius: 33px;
  background: url(<path-to-image>) lightgray 50% / cover no-repeat;
}
.hero .media-Our .avt-more {
  background: #1ebfc1;
  display: flex;
  align-items: center;
  justify-items: center;
}
.hero .media-Our .avt-more span {
  color: #fff;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  line-height: normal;
}
/* =============FEATURE=============== */
.feature .feature-body {
  margin-top: 130px;
}
.feature .feature-top .desc {
  color: #767e7e;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.feature .heading-lv2 {
  margin-top: 18px;
  color: #0d1111;
  font-size: 42px;
  font-weight: 700;
  line-height: 134%;
  width: 577px;
  height: 112px;
}
.feature .feature-top .desc {
  margin-top: 18px;

  color: #767e7e;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  width: 590px;
}
.feature .feature-bot {
  margin-top: 80px;
  display: flex;
  align-items: center;
  gap: 321px;
}
.feature .item .icon {
  width: 102px;
  height: 106px;
}
.feature .item .item-title {
  margin-top: 26px;
  color: #0d1111;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 600;
}
.feature .item .item-desc {
  margin-top: 16px;
  color: #9da6a5;
  font-family: Poppins;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 167%;
}
/* =============POPULAR=============== */
.popular {
  margin-top: 130px;
  padding-bottom: 180px;
}
/*------ popular-top------- */
.popular-top .desc-top {
  color: #767e7e;
  font-family: Poppins;
  font-size: 1.2rem;
  font-weight: 700;
}
.popular-top .heading-lv2 {
  margin-top: 20px;
}
.row-view {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.row-view .desc-bot {
  width: 525px;
  color: #767e7e;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 178%;
}
.row-view .view {
  color: #1ebfc1;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration-line: underline;
}
/*------ popular-bot------- */
.popular-bot {
  margin-top: 101px;
  display: flex;
  gap: 47px;
  justify-content: space-evenly;
}
.popular .item {
  position: relative;
}
.popular-bot .item .img-popular {
  width: 359px;
  height: 393px;
  object-fit: cover;
  flex-shrink: 0;
  opacity: 0.8;
  border-radius: 8px;

  border-radius: 8px;
  background: #d0efed;
}
.popular .content-popular {
  position: relative;
  top: 322px;
  left: 17px;
  position: absolute;

  width: 325px;
  height: 195px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 16px 90px 0px rgba(0, 0, 0, 0.05);
}
.popular .content-popular .title {
  color: #0d1111;
  text-align: center;
  padding: 18px 0 0;
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.popular .content-popular .price {
  margin-top: 16px;
  margin-left: 25px;
  color: #767e7e;
  font-size: 1.6rem;
  font-weight: 400;
}

.popular .content-popular .price span {
  color: #0d1111;
  font-family: Poppins;
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.popular .content-popular .desc {
  margin-top: 8px;
  margin-left: 25px;
  color: #9da6a5;
  font-size: 1.4rem;
  font-weight: 400;
}
.popular .content-popular .static {
  margin-top: 18px;
  color: #9da6a5;
  font-size: 1.4rem;
  font-weight: 400;
}
.popular .content-popular .static span::before {
  margin: 0 10px;
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #1ebfc1;
}
/* =============COUNTDOWN=============== */
.countdow {
  margin-top: 140px;
}
.countdow .countdow-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  display: flex;
  max-width: 862px;
  margin-left: auto;
  margin-right: auto;
  height: 131px;
}

.countdow .item .title {
  color: #0d1111;
  text-align: center;
  font-size: 6.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.countdow .item .desc {
  margin-top: 12px;
  color: #767e7e;
  text-align: center;
  font-family: Poppins;
  font-size: 1.8rem;
  font-weight: 400;
}
/* =============FEEDBACK=============== */
.feedback {
  margin-top: 227px;
}
.feedback .body {
  position: relative;
  padding: 37px 0;
  display: flex;
}
.feedback blockquote {
  max-width: 500px;
  margin-top: 27px;
  color: #5d6564;
  font-size: 3.2rem;
  line-height: 1.5;
}
.feedback .desc {
  margin-top: 33px;
  display: flex;
  align-items: center;
  color: #767e7e;
  font-family: Poppins;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.feedback .desc strong {
  color: #070707;
  font-family: Poppins;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.feedback .desc::before {
  margin-right: 6px;
  content: "";
  display: inline-block;
  width: 8px;
  height: 2px;
  background: #070707;
}
.feedback .feedback-cta {
  margin-left: -30px;
  display: flex;
  margin-top: 52px;
  display: flex;
}
.feedback-cta .cta-btn-group {
  margin-left: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #2ac9bf;
}
/* .feedback-cta .cta-btn-group:hover {
  background: #eee;
  box-shadow: 0px 0px 0px 0px rgba(196, 26, 134, 0.5);
  color: #fff;
  transition: 0.5s;
  cursor: pointer;
} */
/* fb khối phải */
.feedback .feedback-right .ava {
  position: absolute;
  width: 78px;
  height: 78px;
  border-radius: 50%;
  object-fit: cover;
}

.feedback .feedback-right .ava-fb1 {
  margin-left: 400px;
  margin-top: 88px;
  width: 235px;
  height: 235px;
  border-radius: 235px;
  background: url(<path-to-image>) lightgray 50% / cover no-repeat;
}
.feedback .feedback-right .ava-fb2 {
  margin-left: 250px;
  margin-top: 239px;
  width: 78px;
  height: 78px;
  flex-shrink: 0;
  border-radius: 78px;
  background: url(<path-to-image>) lightgray 50% / cover no-repeat;
}
.feedback .feedback-right .ava-fb3 {
  margin-left: 700px;
  margin-top: 239px;
  width: 90px;
  height: 90px;
}
.feedback .feedback-right .ava-fb4 {
  margin-left: 700px;
  margin-top: 0;
  width: 120px;
  height: 120px;
}
.feedback .feedback-right .ava-fb5 {
  margin-left: 300px;
  margin-top: 0;
  width: 100px;
  height: 100px;
}
.feedback .feedback-right .ava-fb6 {
  margin-left: 200px;
  margin-top: 100px;
  width: 100px;
  height: 100px;
}
/* =============ADMIT=============== */
.admit {
  margin-top: 130px;
  padding: 76px 135px 88px;
  background: #def6f5;
}
.admit .body {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.admit .desc {
  margin-top: 18px;
  color: #767e7e;
  font-family: Poppins;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.admit .btn {
  margin-right: 300px;
}
/* =============FOOTER=============== */
.footer .body {
  height: 400px;
  background: #fff;
}
.footer .footer-list {
  margin-top: 131px;
  display: flex;
  justify-content: space-between;
}
.footer .title {
  color: #2e2e2e;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.footer .colum .list a {
  color: #535353;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer .colum .list li {
  margin-top: 20px;
}
.footer .colum:first-child {
  margin-top: 60px;
}
.footer .list-item5 a {
  display: flex;
  align-items: center;
}
.footer .icon-social {
  margin-right: 9px;
}

.footer .copyright {
  margin-top: 80px;
  padding-bottom: 50px;
  text-align: center;
  color: #b0b5b4;
  font-size: 1.8rem;
  line-height: normal;
}

/* hết */ 